.user-info-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: fit-content;
  margin: 0 auto;
}

.user-info-form-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3em;
  row-gap: 1em;
}

.user-profile-btn {
  margin-top: 1em;
}

@media screen and (max-width: 680px) {
  .user-info-form-ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .user-info-form {
    width: 100%;
  }

  .user-info-form-ul input {
    min-width: 100%;
  }
}
