.user-info-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: fit-content;
  margin: 0 auto;
}

.user-info-form-ul {
  /* width: fit-content; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3em;
  row-gap: 1em;
}

/* .heading-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
} */

.user-info-edit-btn {
  /* width: 100%; */
  display: block;
  margin-top: 1.5em;
  margin-left: auto;
}

@media screen and (max-width: 680px) {
  .user-info-form-ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .user-info-form {
    width: 100%;
  }

  .user-info-form-ul input {
    min-width: 100%;
  }
}
