.product-card {
  flex: 0 0 30%;

  /* margin: 0.5em; */
}

.product-card > p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image {
  width: 100%;

  height: auto;
  border-radius: var(--b-rad-image);
  object-fit: cover;
}

/* .price-tag {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  padding: 0.3em 0.8em;
  max-width: fit-content;
  border-radius: 5px;
  background-color: rgb(4, 42, 45);
} */

.details-btn {
  display: inline-block;
  text-align: center;
  min-width: 100%;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0.3125em;
  border-radius: var(--b-rad-btn);
}

@media screen and (max-width: 800px) {
  .product-card {
    flex: 0 0 45%;
  }
}

@media screen and (max-width: 500px) {
  .product-card {
    flex: 0 0 100%;
  }
}
