.product-card {
  flex: 0 0 30%;
  height: 100%;
}

.product-card > p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card > h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image {
  height: 250px;

  width: 100%;
  border-radius: var(--b-rad-image);
  object-fit: cover;
}

.details-btn {
  display: inline-block;
  text-align: center;
  min-width: 100%;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0.3125em;
  border-radius: var(--b-rad-btn);
}

@media screen and (max-width: 1100px) {
  .product-card {
    flex: 0 0 45%;
  }
}

@media screen and (max-width: 600px) {
  .product-card {
    flex: 0 0 100%;
  }
}
