.order-form {
  display: flex;
  flex-direction: column;
  gap: 2em;

  width: fit-content;
  margin: 0 auto;
}

.order-form-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 1em;
}

@media screen and (max-width: 680px) {
  .order-form-ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .order-form {
    width: 100%;
  }

  .order-form-ul input {
    min-width: 100%;
  }
}
