.login-form {
  display: flex;
  flex-direction: column;
  gap: 2em;

  width: fit-content;
  margin: 0 auto;
}

.login-form-ul {
  /* width: fit-content; */
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 1em;
}

@media screen and (max-width: 480px) {
  .login-form {
    width: 100%;
  }

  .login-form-ul {
    grid-template-columns: 1fr;
  }

  .login-form-ul input {
    min-width: 100%;
  }
}
