.navigation {
  font-size: var(--nav-text);
  font-size: var(--paragraph-text);
  display: flex;
  align-items: center;

  color: var(--white-color);
  width: 100%;
  position: fixed;
}

.ul-container {
  padding: 0 5%;
  display: flex;

  width: 100%;
  position: relative;
  background-color: var(--background-color-2);
  z-index: 2;
}

.ul-container ul {
  display: flex;
  align-items: center;
  gap: 1em;
}

.ul-container ul > li {
  padding: 0.5em 1em;

  display: flex;
  align-items: center;
  gap: 1em;
}

.ul-container ul > li:hover:not(.cart-li) {
  text-decoration: underline;
}

.ul-right {
  margin-left: auto;
}

.ul-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.cart-nav {
  background-color: #ff4141;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 1em;
}

.categories-container {
  width: 100%;
  background-color: #82c0e1;
  padding: 1.5em 0 0.5em 0;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.categories-container-opened {
  transition: all 0.2s ease-in;
  visibility: visible;
  transform: translateY(70%);
}

.categories-ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.categories-li {
  color: var(--black-1);

  padding: 0.5em 1em;
  border-radius: var(--b-rad-btn);
}

.categories-li:hover {
  transition: all 0.2s ease-in;
  background-color: #c2eaff;
}

.nav-active {
  text-decoration: underline;
}
.category-active {
  color: var(--black-1);

  padding: 0.5em 1em;
  border-radius: var(--b-rad-btn);

  transition: all 0.2s ease-in;
  background-color: #c2eaff;
}

/* ----- Mobile Navigation -------- */

.mobile-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: #031016;
  width: 100%;
  height: 60px;
  color: var(--white-color);
  position: fixed;
  padding: 1em;
}

.menu-icons {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.menu-icon {
  scale: 1.5;
  z-index: 6;
}

.close {
  display: none;
}

.mobile-ul {
  width: 100%;
  position: absolute;
  background-color: #031016;
  color: var(--white-color);
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  max-width: 250px;
  padding: 1em 0;
  padding-top: 4em;
  transform: translateX(70%);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
}

.mobile-ul-opened {
  transform: translateX(0%);
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
}

.mobile-ul > li {
  text-align: center;
  padding: 1em;
  border-radius: 10px;
}

.mobile-ul > li:active {
  background-color: #041820;
}

.cart-nav-mobile {
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.mobile-cart-li {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.categories-container-mobile {
  height: 0px;
  overflow: scroll;
}

.categories-container-mobile-open {
  height: fit-content;
  transition: 0.3s;
}

.categories-ul-mobile {
  background-color: #82c0e1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.categories-ul-mobile > li {
  text-align: center;
  color: black;
  border-radius: 8px;
}

.touch-to-close {
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.3s;
}

.touch-to-close-visible {
  transform: translateX(0%);
  transition: all 0.3s;
}
