.my-post {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-post-image {
  height: 250px;
  margin-bottom: 1em;
  width: 100%;
  border-radius: var(--b-rad-image);
  object-fit: cover;
}

.my-post-btn {
  width: 100%;
}

.my-post-btns {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  .my-post {
    flex: 0 0 45%;
  }
}

@media screen and (max-width: 600px) {
  .my-post {
    flex: 0 0 100%;
  }
}
