.cart-item {
  flex: 0 0 30%;
}

.cart-item-image {
  height: auto;
  width: 100%;
  border-radius: var(--b-rad-image);
  object-fit: cover;
}

.cart-item-btn {
  /* display: inline-block; */
  width: 100%;
}

@media screen and (max-width: 800px) {
  .cart-item {
    flex: 0 0 45%;
  }
}

@media screen and (max-width: 500px) {
  .cart-item {
    flex: 0 0 100%;
  }
}
