.cart-item {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-image {
  height: 250px;
  margin-bottom: 1em;
  width: 100%;
  border-radius: var(--b-rad-image);
  object-fit: cover;
}

.cart-item-btn {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .cart-item {
    flex: 0 0 45%;
  }
}

@media screen and (max-width: 500px) {
  .cart-item {
    flex: 0 0 100%;
  }
}
