.my-post-detail-container {
  margin: 0 auto;
  max-width: 1000px;
  /* border: 1px solid white; */
  /* padding: var(--sides-padding);
  padding-top: var(--container-padding-top);
  padding-bottom: var(--container-padding-bottom); */
}

.my-post-image-and-cta {
  margin-bottom: 1em;
  display: flex;
  gap: 1em;
  /* width: 100%; */
}

.my-post-detail-cta-container {
  width: 50%;

  height: fit-content;
}

.my-post-detail-image-container {
  width: 50%;
  padding: 0.5em;
  /* height: fit-content; */
}

.my-post-detail-edit-btn {
  /* width: 100%; */
  display: block;
  margin-top: 1.5em;
  margin-left: auto;
}

@media screen and (max-width: 655px) {
  .my-post-image-and-cta {
    flex-direction: column;
  }

  .my-post-detail-cta-container {
    width: 100%;
  }

  .my-post-image-container {
    width: 100%;
    /* height: fit-content; */
  }
}

.my-post-detail-image {
  width: 100%;
  height: auto;
  height: 100%;
  border-radius: var(--b-rad-image);
  object-fit: cover;
}

.user-and-date {
  display: flex;
  /* flex-direction: column; */
  gap: 1em;
  margin-bottom: 1em;
  /* justify-content: space-between; */
}

.my-post-detail-btns {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.my-post-detail-btn {
  width: 100%;
}

.add-to-cart-btn {
  background-color: var(--red-2);
}

.add-to-cart-btn:hover {
  background-color: var(--red-1);
}
.add-to-cart-btn:active {
  background-color: var(--red-3);
}

.purchase-btn {
  background-color: var(--yellow-2);
}

.purchase-btn:hover {
  background-color: var(--yellow-1);
}
.purchase-btn:active {
  background-color: var(--yellow-3);
}
