* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  /* Colors */

  --red-1: #f03e3e;
  --red-2: #e03131;
  --red-3: #c92a2a;

  --blue-1: #228be6;
  --blue-2: #1c7ed6;
  --blue-3: #1864ab;

  --blue-4: #466a7f;

  --yellow-1: #fab005;
  --yellow-2: #f59f00;
  --yellow-3: #e67700;

  --white-color: #fff;
  --black-1: #0a0a0a;

  --background-color: #031a29;
  --background-color-2: #031016;

  --paragraph-color: #e6f0f4;

  /* Font sizes */
  --nav-text: 1.8rem;
  --paragraph-text: 1.6rem;
  --h1-text: 6.5rem;
  --h2-text: 4.5rem;
  --h3-text: 2.5rem;
  --date-text: 1.2rem;

  /* Margins */
  --h2-margin-bottom: 1em;
  --h3-margin-bottom: 0.5em;

  /* Paddings */
  --container-padding-top: 6em;
  --content-container-padding: 1em;
  --container-padding-bottom: 4em;
  --sides-padding: 0 5%;

  /* Border radiuses */

  --b-rad-1: 1em;
  --b-rad-image: 0.7em;

  --b-rad-btn: 0.3125em;

  /* Shadows */
  --shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 768px) {
  :root {
    --nav-text: 1.575rem;
    --paragraph-text: 1.4rem;
    --h1-text: 5.68rem;
    --h2-text: 3.93rem;
    --h3-text: 2.1875rem;
    --date-text: 1.05rem;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    121,
    121,
    121,
    0.258
  ); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 1000;
  border: none;
  color: inherit;
}

button,
input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  background-color: rgb(55, 55, 160);
}

textarea {
  resize: none;
}

button {
  border-radius: var(--b-rad-btn);
  padding: 0.5em 1em;
}
input,
textarea {
  background-color: var(--background-color);
  border: 1px solid var(--blue-4);
  border-radius: var(--b-rad-btn);
  /* font-weight: 300; */
  padding: 0.5em 1em;

  min-width: 30ch;
}

input[type="file"] {
  background: none;
  border: none;
}

@media screen and (max-width: 450px) {
  input,
  textarea {
    min-width: 100%;
  }
}

label {
  margin-bottom: 0.3em;
}

p {
  color: var(--paragraph-color);
  /* max-width: 60ch; */
  width: 100%;
  font-weight: 400;
  margin-bottom: 1em;
}

h1 {
  font-size: var(--h1-text);
  /* margin-bottom: var(--h1-margin-bottom); */
}
h2 {
  font-size: var(--h2-text);
  margin-bottom: var(--h2-margin-bottom);
  font-weight: 600;
}
h3 {
  font-size: var(--h3-text);
  margin-bottom: var(--h3-margin-bottom);
  font-weight: 500;
}

.price-tag {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  padding: 0.3em 0.8em;
  max-width: fit-content;
  border-radius: 5px;
  background-color: rgb(4, 42, 45);
}

.date-text {
  font-size: var(--date-text);
  color: var(--paragraph-color);
}

.text-align-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.border {
  border: 1px solid white;
}

.container {
  background-color: var(--background-color-2);
  padding: var(--content-container-padding);
  box-shadow: var(--shadow-1);
  border-radius: var(--b-rad-1);
}

.consistent-padding {
  padding: var(--sides-padding);
  padding-top: var(--container-padding-top);
  padding-bottom: var(--container-padding-bottom);
}

.input-container {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
}

.red-button {
  background-color: var(--red-2);
}

.red-button:hover {
  background-color: var(--red-1);
}
.red-button:active {
  background-color: var(--red-3);
}

.blue-button {
  background-color: var(--blue-2);
}

.blue-button:hover {
  background-color: var(--blue-1);
}
.blue-button:active {
  background-color: var(--blue-3);
}

body {
  /* transition: all 0.3s; */
  color: var(--white-color);
  font-size: var(--paragraph-text);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
